<div class="header__container" [ngClass]="{'header__container--active': shouldChangeColor}">
  <a [routerLink]="['/home']" class="header__logo">logo</a>
  <nav class="navigation">
      <a (click)='toggleMenu()' class="navigation__icon"><i class="fa fa-bars"></i></a>
      <ul class="navigation__list" [ngClass]="{'navigation__list--active': isActiveMenu}">
        <li class="navigation__item">
          <a href="#" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <app-auth-buttons
            class="auth-buttons"
            [shouldChangeColor]="shouldChangeColor"
          ></app-auth-buttons>
        </li>
      </ul>
  </nav>
</div>
