<div class="header__container" [ngClass]="{'header__container--active': shouldChangeColor}">
  <a [routerLink]="['/home']" class="header__logo">
    <img class="logo" *ngIf="!shouldChangeColor" src="../../../../assets/mnn-logo.dark.svg" alt="MediaNowNet">
    <img class="logo" *ngIf="shouldChangeColor" src="../../../../assets/mnn-logo.white.svg" alt="MediaNowNet">
  </a>
  <nav class="navigation">
      <a (click)='toggleMenu()' class="navigation__icon"><i class="fa fa-bars"></i></a>
      <ul class="navigation__list" [ngClass]="{'navigation__list--active': isActiveMenu}">
        <li class="navigation__item">
          <a href="#" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="javascript:void(0)"
            class="navigation__link"
            [ngClass]="{'navigation__link--active': shouldChangeColor}"
            *ngIf="!isUserLoggedIn"
            (click)="login()"
          >Login</a>
          <a href="javascript:void(0)"
            class="navigation__link"
            [ngClass]="{'navigation__link--active': shouldChangeColor}"
            *ngIf="isUserLoggedIn"
            (click)="logout()"
          >Logout</a>
        </li>
      </ul>
  </nav>
</div>
