@import '../../../shared/styles/colors';
@import '../../../shared/styles/placeholders';

:host(.home-component) {
  @extend %route-component;
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
