<div class="home__container">
  <div *ngIf="showSubscriptionMessage" class="subscription-message">
    <div class="primary-header">All Your TV In One Place</div>
    <div class="secondary-header">Watch thousands of shows and movies, with plans starting at $5.99/month</div>
    <button class="start-trial-button" [routerLink]="['/subscription']" routerLinkActive="router-link-active" >Start your free trial</button>
  </div>
  <div>
    <div class="chapter">
      <div class="chapter-title">Trending</div>
      <app-image-slideshow [displayItems]="trendingFilms"></app-image-slideshow>
    </div>
  </div>
</div>
