@import '../../../shared/styles/colors';

.comments-container {
  width: 100%;

  .comments-block {
    border-left: 4px solid $dark-background;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin: 10px 0;
    width: 100%;

    .author {
      font-weight: bold;
    }

    .author,
    .date,
    .text {
      padding: 0 10px;
    }
  }

  .new-comment {
    padding: 10px 20px;

    textarea {
      height: 100px;
      resize: none;
      width: 100%;
    }
  }
}
