<div class="video-details-container">
  <div class="video-block">
    <div class="video-container">
      <video width="1080" height="720" controls>
        <source src="../../../../assets/video/small.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="title">
      Video Sample
    </div>
    <div class="details">
      <div>Year: 2015</div>
      <div>Genre: comedy</div>
      <div>Description: some cool description for this amazing video, I have no idea what to write here</div>
    </div>
  </div>
</div>