<div class="about-container">
  <div class="text-blocks">
    <div class="block">
        <div class="title">Who am I?</div>
        <div class="description">Simple dev from Eleks.</div>
    </div>
    <div class="block">
        <div class="title">Why?</div>
        <div class="description">Intended to be a mentorship project. But who knows...</div>
    </div>
    <div class="block">
        <div class="title">My mission?</div>
        <div class="description">Develop something with new technologies or just to be cool playground.</div>
    </div>
  </div>
  <div class="contact-us-container">
    <div class="form-title">Contact Us</div>
    <form action="/" class="contact-us-form">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" placeholder="Your name..">

      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" placeholder="Your last name..">

      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>
