@import './shared/styles/colors';

.main-container {
  background-color: $light-background;
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  .header {
    position: sticky;
    top: 0;
  }

  .content {
    display: flex;
    flex: 1;
  }
}
