/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Rubik:700');
@import './app/shared/styles/colors';

@font-face {
  font-family: 'Rubik';
  src: url('https://fonts.googleapis.com/css?family=Rubik:400') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: 'Rubik';
  src: url('https://fonts.googleapis.com/css?family=Rubik:700') format('truetype');
  font-weight: bold;
  font-style: normal;
   }

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  color: $dark-font;
  font-size: 10px;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body {
  font: normal 1.4rem/1.45 'Rubik', sans-serif;
}

a, a:link, a:visited {
  color: $dark-font;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 62em) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 16px;
  }
}
