$alpha-border: rgba($color: #000000, $alpha: 0.1);
$check-icon: #0caf3d;
$dark-background: #BC412B;
$dark-border: #646464;
$dark-font: #4C5260;
$faded-light-font: #dbdada;
$glowing-text-start: #691f1b;
$glowing-text-end: #BC412B;
$light-background: #F7F7F7;
$light-font: #FFFFFF;
$secondary-dark-font: #5E6573;
$white-background: #FFFFFF;
