@import './colors';

@mixin standart-button {
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: ease 0.1s;

    &:hover {
        transform: translateY(-3px);
    }
}