@import '../../../shared/styles/colors';
@import '../../../shared/styles/placeholders';
@import '../../../shared/styles/mixins';

:host(.home-component) {
  @extend %route-component;
}

.home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 0;
  text-transform: uppercase;
  width: 100%;

  .subscription-message {
    align-items: center;
    background-color: $dark-background;
    color: $light-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    width: 100%;

    .start-trial-button {
      @include standart-button;
      background-color: $light-background;
      color: $dark-font;
    }

    .primary-header {
      border-bottom: 5px solid;
      font-size: 2rem;
      padding: 15px 0;
    }

    .secondary-header {
      padding: 15px 0 30px 0;
    }
  }

  .chapter {
    .chapter-title {
      padding: 10px 0 10px 20px;
    }
  }
}
