@import '../../../shared/styles/colors';
@import '../../../shared/styles/placeholders';
@import '../../../shared/styles/mixins';

:host(.movie-details-component) {
  @extend %route-component;
}

.movie-details-container {
  display: flex;
  height: 100%;
  text-transform: uppercase;
  width: 100%;

  .movie-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 70%;
    padding: 25px;

    .movie-container {
      height: auto;
      width: 100%;

      video {
        display: flex;
        height: auto;
        width: 100%;
      }
    }

    .title-row {
      border-bottom: 2px solid $alpha-border;
      display: flex;
      font-size: 1.2em;
      font-weight: bold;
      justify-content: space-between;
      padding: 5px;
      width: 100%;

      .title {
        align-items: center;
        display: flex;
        width: 70%;
        word-break: break-word;
      }

      .rating {
        width: 30%;
      }
    }

    .expander {
      @include empty-button;
      background-color: $light-background;
      color: $dark-font;
      width: 100%;

      &:hover {
        .fa {
          animation: bounce 1s infinite linear;
        }
      }
    }

    .details {
      align-self: flex-start;
      display: flex;
      padding: 5px;

      .text-info {
        padding-left: 10px;
        width: 50%;
      }

      .poster {
        font-size: 0.7em;
        text-align: center;
        width: 20%;

        .download-poster-link {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width : 640px) {
  .movie-details-container {
    .movie-block {
      width: 100%;
      padding: 0;

      .title-row {
        flex-direction: column;

        .title,
        .rating {
          width: 100%;
        }
      }

      .details {
        .poster {
          width: 40%;
        }

        .text-info {
          width: 60%;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
