<div class="movie-details-container">
  <div class="movie-block">
    <div class="movie-container">
      <video width="1080" height="720" controls>
        <source src="../../../../assets/video/small.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="title-row">
      <div class="title">
        {{movie.title}}
      </div>
      <app-rating class="rating" upvotes="{{movie.upvotes}}" downvotes="{{movie.downvotes}}" voteStatus="{{movie.voteStatus}}"></app-rating>
    </div>
    <button (click)="toggleDetails()"></button>
    <div class="details" *ngIf="showDetails">
      <div class="poster">
        <img src="{{movie.posterUrl}}" alt="{{movie.title}}">
        <a href="{{movie.posterUrl}}" class="download-poster-link" download>(Download)</a>
      </div>
      <div class="text-info">
        <div>Year: {{movie.year}}</div>
        <div>Genre: {{movie.genre}}</div>
        <div>Description: {{movie.description}}</div>
      </div>
    </div>
  </div>
</div>
