@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
@import './app/shared/styles/colors';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  color: $dark-font;
  font-size: 10px;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body {
  font: normal 1.4rem/1.45 'Rubik', sans-serif;
}

a, a:link, a:visited {
  color: $dark-font;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 62em) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 16px;
  }
}
