.slideshow-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
  width: 100%;

  .image-container {
    height: auto;
    max-width: 20%;
    padding-bottom: 15px;

    .image {
      cursor: pointer;
      height: 90%;
      width: 100%;
    }

    .title {
      text-align: center;
    }
  }
}

@media only screen and (max-width : 640px) {
  .slideshow-container {
    align-items: center;

    .image-container {
      max-width: 40%;

      .title {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}