@import './shared/styles/colors';

.main-container {
  background-color: $page-background;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  position: relative;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    padding: 48px 20px 50px 20px;
  }
}
