@import './shared/styles/colors';

.main-container {
  background-color: $page-background;
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  .content {
    display: flex;
    flex: 1;
    padding: 7vh 0 0 0;
  }
}
